---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <p class="meta">
    <time datetime='{{ post.date| date: "%Y-%m-%d" }}'><i class="fa fa-clock-o"></i>
    {{ page.date| date: "%Y-%m-%d" }}</time>
    <span><i class="fa fa-tag"></i></span>
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag }}">#{{ tag }}</a>
    {% endfor %}</p>
  {% if page.image %}
  <figure><img src="{{ page.image }}"></figure>
  {% endif %}
  {{ content }}
</article>
<div class="divider clearfix">
  {% if page.previous %}
 
    <a class="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="fa fa-arrow-left"></i> {{ page.previous.title }}</a>
  
  {% endif %}
  
  {% if page.next %}
  
    <a class="next" href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} <i class="fa fa-arrow-right"></i></a>
 
  {% endif %}
</div>
<div id="disqus_thread"></div>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.min.js"></script>
<script>
  $(function(){
    $('img.lazy').lazyload({
        effect : "fadeIn"
    });
    
    var $scrolltopBtn = $('#scrolltop'),
        _timeoutId;
    $(window).scroll(function () {
      if(_timeoutId){
        clearTimeout(_timeoutId);
      }
      _timeoutId =  setTimeout(function(){
          if ($(this).scrollTop() > 100) {
            $scrolltopBtn.fadeIn();
          } else {
            $scrolltopBtn.fadeOut();
          }
        }, 100);
    });
    $scrolltopBtn.click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 800);
      return false;
    });
  });
</script>
<script type="text/javascript">
  var disqus_shortname = 'janetwu';
  window.onload = function(){
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    
  }
</script>



