---
layout: default
pygments: true
---

<article>
  <a href="{{ post.url }}" class="post-title">{{ page.title }}</a>
  <p class="post-meta">
    <span class="post-date"><i class="fa fa-clock-o"></i> {{ page.date| date: "%Y-%m-%d" }}</span>
    <span class="post-tags">
      <i class="fa fa-tag"></i>
      {% for tag in page.tags %}
        <a href="/tags/#{{ tag }}">#{{ tag }}</a>
      {% endfor %}
    </span>
  </p>
  <div class="post-main">
    {{ page.content }}
  </div>
</article>
<div class="divider">
  {% if page.previous %}
  <span>
    <a href="{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="fa fa-chevron-left"></i></a>
  </span>
  {% else %}
  <span title="end">
    <i class="fa fa-circle"></i>
  </span>
  {% endif %}
  <span><a class="comment" href="javascript:leave_comment();" id="leave_comment_link" title="leave a comment"><i class="fa fa-comment-o"></i></a></span>
  <span><a class="comment" href="javascript:collapse_comment();" id="collapse_comment_link" style="display: none;"><i class="fa fa-chevron-up"></i></a></span>
  {% if page.next %}
  <span>
    <a href="{{ page.next.url }}" title="{{ page.next.title }}"><i class="fa fa-chevron-right"></i></a>
  </span>
  {% else %}
  <span title="end">
    <i class="fa fa-circle"></i>
  </span>
  {% endif %}
</div>
<div id="disqus_thread"></div>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
       
      var disqus_shortname = 'janetwu';

      function leave_comment() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          $("#leave_comment_link").css("display", "none");
          $("#collapse_comment_link").css("display", "");
      };
      function collapse_comment() {
          // document.getElementById("disqus_thread").innerHTML = '';
          $("#disqus_thread").slideUp(400, function() {
              $("#disqus_thread").empty();
              $("#leave_comment_link").css("display", "");
              $("#collapse_comment_link").css("display", "none");
              $("#disqus_thread").css("display", "");
          });
      }; 
    </script>


